/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--muted-foreground) transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--muted-foreground);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--foreground);
}

/* Hide arrows in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
